* {
    margin: 0;
    padding: 0%;
}

body {
    font-family: "Nunito", sans-serif;
    font-family: var(--bff);
    font-size: 18px;
    line-height: 1.44;
    font-weight: 400;
    color: #9ba0b8;
    color: var(--bc);
    position: relative;
    word-break: break-word;
    background:black;
    
    height: 100rem;
}

.container-fluid {
    margin: 0 15px 0 15px;
}






.navbar-brand {
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;

}

.navbar-nav {
    padding: 4px;
    margin: auto;
    gap: 1rem;
}

.nav-item button {
    background: #3eb489;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0;
    color: #fff !important;
    padding-left: 8px;
    padding-right: 8px;

}

.nav-item button:hover {
    background: green;
    cursor: pointer;
    border: none;
    color: #1b121d;
    transition: 0.3s;
}

.span1 {
    border: 2px solid black;
    font-weight: 500;
    font-size: 1rem;
    color: #fff;
    background: #3eb489;
    padding: 0.4rem;
    border-radius: 5px;




}

.span1:hover {
    cursor: pointer;
    color: #fff;
    background: #3eb489;
    border: none;
    transition: 0.4s;
}

.span2 {
    border: 2px solid #1b121d;
    padding: 0 8px 0 8px;
    border-radius: 4px;
    background:black;
    color: #fff !important;
}


.heading1 {
    font-size: 5rem;
    line-height: 6rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    letter-spacing: 0;
    color: #cecece !important;
    margin-top: 2rem;
}

.heading2 {
    font-size: 2rem;
    line-height: 2.5rem;
    max-width: 44.4rem;
    color: #cecece;
    margin-bottom: 2.8rem;
}

.default-btn {
    background: #3eb489;
    border-radius: 4px;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
    letter-spacing: 0;
    color: #fff !important;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    min-height: 3.6rem;
    display: inline-flex !important;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border: none;
    -webkit-appearance: none;
    appearance: none;

}

.default-btn:hover {
    background: #cecece;
    cursor: pointer;
    color: #1b121d !important;
}

.row{
    margin-top: 5rem;
    background:black !important;
    

    
}
.card-body{
    background:black !important;
    color: #cecece !important;
    border: 2px solid black;
    
}

.card-body h5{
    font-weight: 600;
    font-size: 1.2rem;
    font-style: italic;

}
.card-body p{
    font-weight: 700;
    line-height: 35px;

}
.card-body span{
    font-size: 1.3rem;
    font-weight: 600;
}

.btn {
    background: #3eb489;
    border-radius: 4px;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 400;
    letter-spacing: 0;
    color: #fff !important;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    min-height: 3rem;
    display: inline-flex !important;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    
}

.footer{
    margin: 4rem;
    color: #fff !important;
    align-items: center;
    font-size: 1rem;
    text-align: center;
}
.footer i{
    padding: 1rem;
    font-weight: 600;
    font-size: 2rem;

}
.five-div h1{
    color: #fff !important;
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .heading1{
        font-size: 2rem;
    }
    .card-body{
        gap: 1rem;
    }
}


@media screen and (max-device-width: 480px) and (orientation: portrait){
    .heading1{
        font-size: 2rem;
    }
    .row{
        gap: 1rem;
    }

}